
header {
    position: absolute;
    background-image: url(Wmage/TT.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* 이미지를 중앙에 배치 */
    width: 300px; /* 네모 상자의 너비 */
    height: 200px; /* 네모 상자의 높이 */
}

#tree1 {
    position: absolute;
    background-image: url(Mainitem/tree1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* 이미지를 중앙에 배치 */
    top: 100px;
    left: 400px;
    width: 200px; /* 네모 상자의 너비 */
    height: 400px; /* 네모 상자의 높이 */
    text-align: center;
    color: rgb(255, 255, 255);
}

#cookie1 {
    position: absolute;
    background-image: url(Mainitem/cooke1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    top: 230px;
    right: 450px;
    width: 200px; 
    height: 400px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#girl {
    position: absolute;
    background-image: url(Mainitem/girl.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    top: 50px;
    right: 1080px;
    width: 200px; 
    height: 400px;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 50px;
    right: 20px;
    background-color: aliceblue;
    border: 20px double rgb(172, 172, 237);
    border-style: dotted;
}

body {
    background-image: url(Wmage/background.jpg);
    background-repeat: repeat;
    background-size: cover;
}

/* border: 2px solid #ccc; /* 테두리 추가 */
/* border-radius: 5px; /* 모서리 둥글게 */
/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 그림자 효과 */